<%= turbo_stream.append 'phone_numbers' do %>
  <%= render partial: 'phone_number', locals: { phone_number: @phone_number } %>
<% end %>

<%= turbo_stream.update 'new_phone_number' do %>
  <div class="bg-white border border-slate-300 rounded py-2 px-4 mb-4">
    <%= link_to 'Add Phone Number', new_client_phone_number_path(@client) %>
  </div>
<% end %>