<%= turbo_frame_tag @phone_number, class: "grid grid-cols-3" do %>
  <div class="py-2 px-3">
    <%= @phone_number.number_type %>
  </div>
  <div class="py-2 px-3">
    <%= @phone_number.number %>
  </div>
  <div class="py-2 px-3 text-right">
    <%= link_to 'Edit', edit_client_phone_number_path(@phone_number.client, @phone_number), class: "text-sm border border-slate-300 text-slate-500 rounded py-2 px-3 box-content" %>
  </div>
<% end %>