<div class="bg-white border border-slate-300 rounded py-2 px-4">
  <h2 class="font-bold text-lg mb-2">Proposal Status</h2>
  <p class="text-sm py-1">✅ Contact Details</p>
  <p class="text-sm py-1">✅ Current Address</p>
  <p class="text-sm py-1">✅ Phone Numbers</p>
  <p class="text-sm py-1">⬜️ Personal Details</p>
  <p class="text-sm py-1">⬜️ Identification</p>
  <p class="text-sm py-1">⬜️ Employment</p>
  <p class="text-sm py-1">⬜️ Family Members</p>
</div>