<%= turbo_frame_tag 'family_size' do %>
  <div class="flex gap-4 items-center">
    <div class="grow">
      <h2 class="font-bold text-lg mb-2">Family Size</h2>
      <div class="flex gap-2">
        <% if @client.family_size.present? %>
          <p><%= @client.family_size %></p>
        <% end %>
        <%= link_to 'Edit', edit_client_path(@client, field: :family_size), class: 'text-sm border border-slate-300 text-slate-500 rounded py-2 px-3' %>
      </div>
    </div>
  </div>
<% end %>