<% if breadcrumbs.present? %>
  <div class="mb-4">
    <% breadcrumbs.each do |breadcrumb_name, breadcrumb_path| %>
      <% if breadcrumb_path.nil? %>
        <span class="font-bold"><%= breadcrumb_name.to_s.titleize %></span>
      <% else %>
        <%= link_to breadcrumb_name.to_s.titleize, breadcrumb_path, class: "text-green-500" %> /
      <% end %>
    <% end %>
  </div>
<% end %>